@using OnlineShoppingStore.Models.Home;
@*@using OnlineShoppingStore.Models.Mail;*@
@{
    ViewBag.Title = "CheckoutDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @*<form method="post" action="CheckoutDetail">*@
        @using (Html.BeginForm("CheckoutDetail", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            if (Session["cart"] == null)
            {
                <div class="alert alert-danger">
                    <strong>No product added to cart!</strong>
                </div>

            }
            else
            {
                <GridView id="GridView1">
                <table class="table table-bordered" style="color:rebeccapurple" name="subject" id="Table1" >
                    @*<tr>
                        <td>To:</td>
                        <td>@Html.TextBoxFor(model => model.To)</td>
                    </tr>*@
                    <thead>
                        <tr name="message">
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Line Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td>Body:</td>
                            <td>@Html.TextAreaFor(model => model.Body , new { rows = "4", cols = "10" })</td>
                        </tr>*@


                        @{
                            int Total = 0;
                        }
                        @foreach (Item item in (List<Item>)Session["cart"])
                        {
                            int lineTotal = Convert.ToInt32(item.Inventory_Quantity * item.Inventory.Inventory_Price);
                            Total = Convert.ToInt32(@Total + lineTotal);
                            <tr name="body">
                               
                                <td>@item.Inventory.Inventory_Name</td>
                                <td>@item.Inventory.Inventory_Price</td>
                                <td>@item.Inventory_Quantity</td>
                                <td>@lineTotal</td>
                            </tr>
                        }

                        <tr>
                            <td colspan="4" class="text-right"><b>Total: @Total</b></td>
                        </tr>
                    </tbody>
                </table>
                    </GridView>

                <div class="container">
                    <span class="form-control-static">Receiver Email(Enter email address to receive checkout invoice): </span> <input class="form-control" type="text"
                      name="receiver" /> <br />
                </div>

                <input class="btn btn-primary"
                type = "submit"
                value = "Send"/>

                @*<span style="color:purple">@ViewBag.Message</span>*@
                }

                }
            @*</form>*@

</div>

          
